section {
  height: 100vh;
}
section h3 {
  margin-top: 50px;
}
section .subsection1 {
  margin: 100px auto;
}
section .subsection1 img {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  /* border: 1px solid red; */
}
.visit {
  width: 100px;
  margin: 0 auto;
}
.visit a {
  color: black;
  font-weight: 700;
}

/* BERWYN BUSES */
.section1 {
  background-color: white;
  background-color: rgb(245, 245, 245);
}
.section1 h3 {
  /* color: black; */
}
.section1 .visit a {
  /* color: black; */
}

/* FIESTAPP */
.section2 {
  background-color: #23253a;
}
.section2 h3 {
  color: #59e5e8;
}
.section2 .visit a {
  color: #59e5e8;
}

/* IT TOOLBOX */
.section3 {
  background: linear-gradient(#6936f5, #b036f5);
}
.section3 h3 {
  color: white;
}
.section3 .visit a {
  color: white;
}

/* SPORTSONE */
.section4 {
  /* background-color: #2391ff; */
  background-color: #0076ff;
}
.section4 h3 {
  color: white;
}
.section4 .visit a {
  color: white;
}

/* JAVA SWING */
.section5 {
  /* background-color: white; */
  background-color: #f5cf36;
}
.section5 .subsection1 img {
  width: 300px;
}

/* GUSTAVO ZAPATA 1.0 */
.section6 {
  background-color: rgb(40, 40, 40);
}
.section6 h3 {
  color: white;
}
.section6 .visit a {
  color: white;
}

/* RESPONSIVE */
@media only screen and (min-width: 800px) {
  .section-full-height .subsection1 {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .section-full-height p {
    margin-top: 25px;
  }
  .section-full-height .subsection1 img {
    display: none;
  }
  .section1 .subsection1 {
    background-image: url("../images/education/berwyn-desktop.png");
  }
  .section2 .subsection1 {
    background-image: url("../images/education/fiestapp-desktop.png");
  }
  .section3 {
    background: #6936f5;
  }
  .section3 .subsection1 {
    background-image: url("../images/education/toolbox-desktop.png");
  }
  .section4 {
    background-color: #111111;
  }
  .section4 .subsection1 {
    background-image: url("../images/education/sportsone-desktop.png");
  }
  .section5 .subsection1 {
    background-image: url("../images/education/todocanary-desktop.png");
  }
  .section6 .subsection1 {
    background-image: url("../images/education/gz.png");
  }
}
