/* WEB APP */
.section1 {
  background: linear-gradient(rgb(33, 144, 255), rgb(69, 75, 243));
}
.section1 h3 {
  /* color: black; */
}
.section1 .visit a {
  /* color: black; */
}

/* FIESTAPP */
.section2 {
  background: #23253a;
}
.section2 h3 {
  color: #59e5e8;
}
.section2 .visit a {
  color: #59e5e8;
}

/* IT TOOLBOX */
.section3 {
  background: linear-gradient(#f5cf36, #b036f5);
}
.section3 h3 {
  color: black;
}
.section3 .visit a {
  color: black;
}

/* SPORTSONE */
.section4 {
  background-color: #2391ff;
}
.section4 h3 {
  color: white;
}
.section4 .visit a {
  color: white;
}

/* GUSTAVO ZAPATA 1.0 */
.section5 {
  background-color: rgb(40, 40, 40);
}
.section5 h3 {
  color: white;
}
.section5 .visit a {
  color: white;
}

/* LA PIZZA KINGSTON */
.section6 {
  background-color: white;
}
.section6 h3 {
  color: #e7512e;
}
.section6 .visit a {
  color: #e7512e;
}
.section6 .subsection1 img {
  width: 300px;
}
