:root {
  --h1-size: 2.5em;
  --h2-size: 2em;
  --h3-size: 1.8em;
  --h4-size: 0.9em;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: var(--h1-size);
  font-weight: 900;
}
h2 {
  font-size: var(--h2-size);
  font-weight: 900;
}
h3 {
  font-size: var(--h3-size);
  font-weight: 700;
}

#refresh {
  position: absolute;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  font-weight: 500;
  color: rgb(150, 150, 150);
}

#viewport {
  padding: 1px;
  height: 100vh;
}

/* HEADER */
header {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin-top: -265px;
  background-color: white;
  /* border-bottom: 1px solid rgb(200, 200, 200); */
  z-index: 100;
  transition: margin 0.45s;
}
#theme {
  /* width: 20px; */
  float: right;
  margin: 20px;
  cursor: pointer;
}
#theme img {
  width: 22px;
}
header nav {
  padding: 1px;
  background-color: white;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.header-open {
  margin-top: 0;
}
header nav ul {
  padding-left: 0;
  margin: 80px auto;
}
header nav ul li {
  margin: 25px 0;
  list-style: none;
  text-align: center;
}
header nav ul li a {
  color: black;
  font-weight: 900;
  text-decoration: none;
}
header nav ul li a:hover {
  text-decoration: underline;
}
.active {
  color: #207be2;
}

.burger {
  position: fixed;
  top: 0;
  width: 40px;
  margin: 15px;
  cursor: pointer;
}
.burger-line {
  width: 33px;
  height: 3px;
  margin: 4px;
  border-radius: 5px;
  background-color: rgb(20, 20, 20);
  transition: all 0.4s;
}
.burger-topline-open {
  transform: rotate(45deg) translate(5.5px, 4px);
}
.burger-middleline-open {
  transform: rotate(-45deg);
}
.burger-bottomline-open {
  opacity: 0;
}

/* VIEWPORT */
.section-viewport {
  margin-top: 60px;
}
.section-viewport h1 {
  width: 270px;
  margin: 10px auto;
  text-shadow: 20px 20px 15px #ccc;
}
.section-viewport h1 div {
  text-align: right;
}
.logo-div {
  margin: 40px auto 10px auto;
  text-align: right;
}
.logo-div img {
  width: 260px;
}
#shade {
  width: 230px;
  position: absolute;
  right: 40px;
  top: 210px;
  z-index: -10;
}
.shade2 {
  top: 160px !important;
  right: 40px !important;
}
.phrase-div {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 300px;
  margin: 10px 0 10px -150px;
  text-align: center;
}
.phrase-div p {
  font-weight: 700;
  font-size: 0.9em;
}

/* MAIN PAGE */

/* SKILLS */
section {
  margin: 100px auto 120px auto;
  text-align: center;
  /* border: 1px solid red; */
}
.subsection1 {
  margin: 50px 0;
}
.container {
  position: relative;
  display: inline-block;
  width: 160px;
  margin: 10px 4px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s;
}
.tool-container,
.platform-container {
  border: 2px solid rgb(230, 230, 230);
  box-shadow: none;
  /* box-sizing: border-box; */
}
.skill-container {
  cursor: pointer;
  /* transition: box-shadow 0.5s; */
}
.skill-container:hover {
  /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); */
}
.container img {
  width: 80px;
  margin: 20px 0 10px 0;
}
.container h4 {
  font-weight: 600;
  font-size: var(--h4-size);
}

/* CHAT */
.chat {
  position: fixed;
  width: 200px;
  height: 35px;
  /* height: 330px; */
  background-color: white;
  right: 0px;
  bottom: 0;
  z-index: 150;
  border: 1px solid #b7b7b7;
  transition: height 0.6s;
}
.chat-open {
  /* width: 200px; */
  height: 330px;
}
.chat-header {
  text-align: center;
  margin-top: 7px;
  cursor: pointer;
}
.chat-header p {
  display: inline;
  font-size: 0.95em;
  font-weight: bold;
}
.arrow {
  width: 20px;
  margin-right: 15px;
  margin-left: -20px;
  vertical-align: middle;
  transition: transform 0.4s;
}
.arrow-open {
  transform: rotate(180deg);
}
.status {
  width: 11px;
  vertical-align: middle;
}
.chat-body {
  margin: 10px auto;
  text-align: center;
  height: 200px;
  width: 90%;
  font-family: monospace;
  /* background-color: rgb(250, 250, 250);
  border: 1px solid rgb(210, 210, 210); */
}
.chat-body input,
.chat-body textarea {
  width: 90%;
  margin-top: 10px;
  font-family: monospace;
  padding-left: 4px;
  border: 1px solid rgb(200, 200, 200);
}
.chat-body textarea {
  height: 90px;
  resize: none;
}
.chat-body p {
  font-weight: 500;
}
.chat-body p span {
  font-weight: bold;
  text-decoration: underline;
}
.console {
  color: rgb(20, 200, 20);
  font-weight: 700;
  font-size: 1.3em;
  border-bottom: 1px solid rgb(20, 200, 20);
  padding-bottom: 2px;
  position: relative;
}
.cursor {
  width: 7px;
  height: 4px;
  position: absolute;
  top: 18px;
  left: 12px;
  /* display: inline-block; */
  background-color: rgb(20, 200, 20);
  animation: cursor 1s step-end infinite;
}
@keyframes cursor {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: rgb(20, 200, 20);
  }
}
#checkInput {
  width: 60px;
  border: none;
  padding-left: 2px;
  border: none;
  color: transparent;
  text-shadow: 0 0 0 black;
  /* border-bottom: 1px solid rgb(20, 200, 20); */
}
#checkInput:focus {
  outline: none;
}
.chat-body button {
  border: none;
  background-color: transparent;
  font-family: monospace;
  text-decoration: underline;
  cursor: pointer;
  color: rgb(27, 141, 235);
  font-weight: bold;
}
.chat-body input[type="submit"] {
  font-family: inherit;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  width: 50px;
  margin: 15px;
  font-size: 1.1em;
  color: rgb(170, 170, 170);
}
.chat-body input[type="submit"]:hover {
  /* cursor: not-allowed; */
}
/* CHAT */

/* THEME */
.dark-theme {
  background-color: rgb(46, 46, 46);
  border-color: rgb(30, 30, 30);
}

/* SLIDE IN --> */
.container {
  opacity: 0;
}
.come-in {
  transform: translateY(120px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.5s; /* So they look staggered */
}
@keyframes come-in {
  to {
    transform: translateY(0);
  }
}
/* <-- SLIDE IN */

/* FLIP CONTAINER --> */
.container-back {
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;
}
.flip-container {
  transform: rotateY(180deg);
}
.inner-back {
  position: absolute;
  backface-visibility: hidden;
  background-color: white;
  width: 82%;
  height: 82%;
  margin: 15px;
  transform: rotateY(180deg);
  z-index: 100;
}
.inner-back h4 {
  margin-bottom: 1px;
}
.inner-back-active {
  backface-visibility: visible;
}
.years {
  border: 3px solid #19b187;
  display: inline-block;
  padding: 5px 14px;
  margin: 18px;
  font-size: 1.8em;
  font-weight: bold;
  border-radius: 35px;
}
.years + p {
  margin: 0;
  font-weight: 500;
}
/*FLIP CARD FROM W3SCHOOLS
#skillJS {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}
#card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#card-back,
#card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
#skillJS:hover #card-inner {
  transform: rotateY(180deg);
}
#card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}
#card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}*/
/* <-- FLIP CONTAINER */

/* WORK, EDUCATION */
.section-full-height {
  margin: 0;
  position: relative;
  padding: 1px;
}
.container-title {
  display: none;
}
.line {
  display: none;
}
.link-desktop {
  pointer-events: none;
}

/* FOOTER */
footer {
  width: 100%;
  padding: 1px;
  background-color: white;
  border-top: 1px solid rgb(200, 200, 200);
}
footer div {
  margin: 22px auto;
  text-align: center;
}
footer div a {
  color: black;
  font-size: 0.9em;
  font-weight: 700;
}

/* DASHBOARD */
#footerDash {
  text-decoration: underline;
}
.dashboard {
  position: fixed;
  height: 250px;
  bottom: -290px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  transition: bottom 0.5s;
}
.dashboard-open {
  bottom: 0px;
}
.dashboard p {
  float: right;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

/* RESPONSIVE */
/* WHEN SCREEN IS BIGGER THAN 800PX */
@media only screen and (min-width: 800px) {
  #refresh {
    /* top: -20px; */
    display: none;
  }
  header {
    position: static;
    margin-top: 5px;
  }
  header nav {
    border: none;
    text-align: center;
  }
  header nav ul {
    margin: 40px auto;
  }
  header nav ul li {
    display: inline;
    margin: 0 5%;
  }
  .burger {
    display: none;
  }
  #theme {
    position: absolute;
    right: 0;
  }
  .phrase-div {
    width: 400px;
    margin-left: -200px;
  }
  .phrase-div p {
    font-size: 1.1em;
  }
  .section-viewport h1 {
    width: 330px;
    margin: 150px auto;
  }
  .logo-div {
    position: absolute;
    right: 0;
    top: 20%;
  }
  .logo-div img {
    width: 300px;
  }
  #shade {
    width: 280px;
    top: 6px;
  }
  .shade2 {
    top: 10px !important;
  }
  .container {
    margin: 12px 8px;
  }
}

@media only screen and (max-width: 381px) {
  .container {
    width: 140px;
    margin: 6px 2px;
  }
  .container img {
    width: 70px;
    margin: 15px 0 8px 0;
  }
  .chat {
    right: -150px;
    transition: all 0.5s;
  }
  .chat-open {
    right: 0;
  }
}

/* WHEN SCREEN IS VERY SMALL */
@media only screen and (max-width: 290px) {
  h1 {
    font-size: 2.2em;
  }
  .section-viewport h1 {
    width: 95%;
  }
  .logo-div img {
    width: 200px;
  }
  #shade {
    width: 180px;
    top: 200px;
    right: 30px;
  }
  .shade2 {
    top: 155px !important;
    right: 32px !important;
  }
}
