/* RESPONSIVE WORK AND EDUCATION */
@media only screen and (min-width: 800px) {
  #page {
    text-align: center;
    width: 80%;
    margin: 100px auto;
  }
  .line {
    display: block;
    width: 80%;
    margin: 150px auto;
  }
  .line hr {
    border-color: rgb(235, 235, 235);
  }
  .section-full-height p {
    display: block;
    font-weight: 600;
  }
  .section-full-height {
    display: inline-block;
    width: 200px;
    height: 300px;
    border: 2px solid black;
    margin: 50px 30px;
    cursor: pointer;
  }
  .section-full-height .subsection1 {
    margin: 85px auto;
  }
  .section-full-height .subsection1 img {
    width: 150px;
    position: static;
    margin-left: 0px;
    margin-top: 0px;
  }
  .section-full-height h3 {
    display: none;
  }
  .visit {
    display: none;
  }
  .link-desktop {
    pointer-events: all;
  }
  footer {
    margin-top: 150px;
  }
}
