section {
  height: 100vh;
}
section h3 {
  margin-top: 50px;
}
section .subsection1 {
  margin: 100px auto;
}
section .subsection1 img {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
}
.visit {
  width: 100px;
  position: absolute;
  bottom: 80px;
  left: 50%;
  margin-left: -50px;
}
.visit a {
  color: black;
  font-weight: 700;
}

/* SUNNY ECO */
.section1 {
  background: linear-gradient(#2cb5d8, #0558d6);
}
.section1 h3 {
  color: white;
}
.section1 .visit a {
  color: white;
}

/* TRADE LEDGER */
.section2 {
  background-color: #c8ebfc;
}
.section2 .visit a {
  color: black;
}

/* REAL MEDIA */
.section3 {
  background-color: #eaeaea;
}
.section3 h3 {
  color: #33922c;
}
.section3 .visit a {
  color: #33922c;
}

/* ZANTO */
.section4 {
  background-color: #f5cf36;
}
